<h2>Create new Thread</h2>

<form action="/thread/add" method="POST">
  User:
  <input type="text" name="title" required value="{{thread.title}}"/>
  <br />
  Content
  <textarea name="content"></textarea>
  <br />
  <input type="submit" value="Save" />
</form>

