h1, h2, a{
    color: green;
    text-decoration: none;
}
main {
    padding: 0 40px;
}
footer {
    text-align: center;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}
.image-img {
    width: 500px;
    height: 400px;
}
.image-card {
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
    display: inline-block;
}
.cards {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
.btn {
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: inherit;
    display: inline-block;
    text-decoration-line: none;
    margin-top: 10px;
}
.form-group label {
    font-size: 1.2em;
    width: 10%;
    display: inline-block;
    text-align: start;
    padding-right: 5px;
    vertical-align: top;
}




