<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Server Demo</title>
    <link href="../content/images/favicon.ico" rel="icon"/>
    <link href="../content/styles/site.css" rel="stylesheet"/>

</head>
<body>
    <h1>Welcome from Node.js!</h1>
    <nav class="nav">
        <ul>
            <li><a href="/submit-image">Submit an image</a></li>
            <li><a href="/all-images">All images</a></li>
        </ul>
    </nav>
</body>

<script src="../content/libs/jquery.min.js"></script>
</html>