<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../content/styles/site.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="/">Back to homepage</a>
    </header>
    <main>
        <h1 class="head-title">Add Image Page</h1>
        <form class="form center-form" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" class="input-field"/>
            </div>
            <div class="form-group">
                <label for="image">Image URL</label>
                <input id="image" name="imageUrl" type="text" class="input-field"/>
            </div>
            <div class="form-group">
                <input class="btn form-btn" type="submit" value="Add Image"/>
            </div>
        </form>
        <br/>
    </main>
    <footer>&copy; IMinchevQA</footer>
</body>
</html>