<form action="/articles/edit/{{this._id}}" method="POST">
  Title
  <input type="text" name="title" value="{{this.title}}" />
  <br />
  Description
  <textarea name="description"  value="{{this.description}}"></textarea>
  <br />
  <input type="submit" value="Save" />
</form>